/* Empty. Add your own CSS if you like */
textarea {height:60px;}
.pastie img {max-width:60px; max-height:60px;}
.muted {color:#888;}
.item p {color:black;}
.card.message {color:green;}
.image-preview img {width:120px;}
.image-preview {margin-top:5px;}
